NEXT_PUBLIC_WORLD_WS=ws://localhost:2567
NEXT_PUBLIC_SOLANA_RPC=https://api.devnet.solana.com
NEXT_PUBLIC_MAGICBLOCK_TEE_RPC=https://devnet-tee.magicblock.app

LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
ASSEMBLYAI_API_KEY=
OUTCRY_PROGRAM_ID=
